/* Import Google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* Styling for the entire application */

html {
    background-color: #BEDAEA;
    font-family: 'Raleway', sans-serif;
}

.body {
    width: 50%;
    margin: 100px auto 100px auto;
    padding: 40px 100px 100px 100px;
    border-radius: 50px;
    background-color: #F6F6F6;
    box-shadow: 10px 10px 30px #C6D7F1;
}

h1 {
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #252121;
}

a:link {
    text-decoration: none;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

/* Styling for sign-up and login pages */

.login-header {
    text-align: right;
    margin: 0px 0px 170px 0px;
}

.login-notice {
    display: inline;
    color: #4094C5;
    font-weight: 500;
    font-size: 14;
}

.switch-button {
    display: inline;
    width: 200px;
    margin: 0px 0px 0px 20px;
    padding: 8px 22px 8px 22px;
    background: transparent;

    color: #0E4D72;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    text-align: center;

    border: 2px solid #0E4D72;
    border-radius: 20px;
}

h3.login-field {
    font-weight: 800;
    font-size: 16px;
    color: #252121;
}

.login-button {
    width: 200px;
    margin: 20px 0px 0px 0px;
    padding: 8px 20px 8px 20px;
    background: linear-gradient(100deg, #8FD0F3 -10.3%,#89D0F7 101.4%);

    color: white;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
    font-size: 20px;
    text-align: left;

    border-width: 0;
    border-radius: 20px;
}

.login-form {
    width: 90%;
    padding: 10px;
    background-color: #C6E6F9;

    font-family: 'Raleway', sans-serif;
    font-size: 16px;

    border-width: 0;
    border-radius: 20px;
}

.login-form:focus {
    outline: none;
    border-width: 3px;
    border-color: #4094C5;
}

.login-text {
    margin: 0px 0px 45px 0px;
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #424242;
}

.login-status {
    font-size: 12px;
    color: #4094C5;
}