<!DOCTYPE html>

<html lang="en-US">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Profile</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='Profile_Style.css')}}" defer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src ="{{ url_for('static', filename='functions.js')}}" defer></script>


</head>

<body>
<header>
        Universitoria
    </header>
        <h1 id="USER">{{name}}</h1>
    <h1><form action="/logout" method="POST">
        <input id="vut" type="submit" value="Logout">
    </form></h1>

        <div id="space">

            <button class="proftablink" onclick="yourClassProf()">Your Classes</button>

            <div id="profile" class="tabcontent"></div>

            <div id="Cataloged" class="tabcontent"></div>
            <div>
                <table class="Header">
                    <thead>
                        <tr class="bg-info">
                            <th>Class</th>
                            <th>Teacher</th>
                            <th>Time</th>
                            <th>Capacity</th>
                            <th>Add Class</th>
                        </tr>

                        <tbody class = "content" id="data-output">

                        </tbody>

                    </thead>
                </table>
            </div>
        </div>
</body>

</html>