<!DOCTYPE html>

<html lang="en-US">

    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
        <title>Social App</title>
    
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" defer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    </head>

<body>

    <!-- Side button: personal configuration -->
    <div id="menu-container">
        <a href="profile">
            <div class="menu-button">
                <img src="{{ url_for('static', filename='svg/person-icon.svg') }}">
            </div>
        </a>

        <!-- Side button: logout -->
        <a href="logout">
            <div class="menu-button">
                <img src="{{ url_for('static', filename='svg/logout-icon.svg') }}">
            </div>
        </a>
    </div>

    <!-- Main feed -->
    <div class="body">
        <div class="search-container">
            <span class="search-bar">
                <img src="{{ url_for('static', filename='svg/tag-icon.svg') }}"><input class="search-field" type="text" id="tagquery", name="tagquery">
            </span>
            <span class="search-button">
                <p>search</p>
            </span>
        </div>

        <div class="feed">
            <!-- User-generated posts go here -->
        </div>

    </div>

</body>