<!DOCTYPE html>

<html lang="en-US">

<head>

    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <title>Social App</title>

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}" defer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src ="{{ url_for('static', filename='functions.js') }}" defer></script>

</head>

<body>

<a href=""><p>Click here to configure personal settings.</p></a>

</body>