<!DOCTYPE html>
<html lang="en-US">

    <head>

        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    
        <title>Login</title>
    
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css')}}" defer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    
    </head>

<body>
    <div class="body">

        <div class="login-header">
            <p class="login-notice">Don't have an account? Register here.</p>
            <a href="register"><button class="switch-button">register</button></a>
        </div>

        <h1>Welcome back!</h1>

        <form action="/login" method="POST">

            <h3 class="login-field">Username</h3>
            <input class="login-form" type="text" id="username", name="username"></br>
        
            <h3 class="login-field">Password</h3>
            <input class="login-form" type="password" id="password", name="password"></br>
        
            <button class="login-button" id="signin">sign in</button>
            {% if failed %}
                <p class="login-status">Your username or password is incorrect. Please try again.</p> 
            {% elif loggedOut %}
                <p class="login-status">You have logged out.</p> 
            {% endif %}
            
        </form>

        
    </div>

</body>

</html>